<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link type="image/x-icon" rel="shortcut icon" href="/web/static/src/img/favicon.ico"/>
<title>Demos Odoo ERP | Marlon Falcón Hernández</title>
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/type/icons.css">
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/style.css">
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/style/css/color/blue.css">
<link rel="stylesheet" type="text/css" href="theme_demosodoo/static/assets/style/css/style/css/font/font3.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700%7CRoboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
</head>
<body class="split-layout">
<div class="content-wrapper h-100">
  <div class="content-left"></div>
  <!-- /.content-left -->
  <div class="content-right wrapper light-wrapper text-center">
    <div class="inner h-100 d-flex flex-column justify-content-center">
      <h1 class="heading mb-30">Hola soy Marlon, te dejo dos Demos de Odoo 13</h1>
      <h2 class="sub-heading2">Si quieres conocer <b>Odoo ERP</b> , puedes entrar a este demo <a href="https://demosodoo.com">demosodoo.com</a> donde mostramos la versión 13 , podrás entrar con el usuario: demo y el password: demo, te invito a conocer mi canal de <a href="https://www.youtube.com/channel/UCM93kgnjXu393jgKjjSkUjQ?view_as=subscriber" class="color-s-youtube">YouTube</a>, También te dejo mi email <a href="mailto:mfalcon@ynext.cl" class="color-s-twitter">mfalcon@ynext.cl</a>.</h2>
      <div class="space20"></div>
      <div><a href="https://demosodoo.com/web/login" class="btn btn-full-rounded btn-dark btn-icon-left" style="background:#007A77;" ><i class="fa fa-paper-plane"></i>Odoo 13 Community</a></div>
      <div><a href="https://enterprise13.demosodoo.com/web/login" class="btn btn-full-rounded btn-dark btn-icon-left" style="background:#7E4861;"><i class="fa fa-paper-plane"></i>Odoo 13 Enterprise</a></div>
    </div>
    <!-- /div --> 
  </div>
  <!-- /.content-right --> 
</div>
<!-- /.content-wrapper --> 
<script src="theme_demosodoo/static/assets/style/js/jquery.min.js"></script>
<script src="theme_demosodoo/static/assets/style/js/popper.min.js"></script>
<script src="theme_demosodoo/static/assets/style/js/bootstrap.min.js"></script>
<script src="theme_demosodoo/static/assets/style/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="theme_demosodoo/static/assets/style/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="theme_demosodoo/static/assets/style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script>
<script src="theme_demosodoo/static/assets/style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems! The following part can be removed on Server for On Demand Loading) --> 
<!--<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>-->
<script src="theme_demosodoo/static/assets/style/js/plugins.js"></script>
<script src="theme_demosodoo/static/assets/style/js/scripts.js"></script>
<script>
	$(".content-left").backstretch([
     "theme_demosodoo/static/assets/style/images/art/slider-bg20.jpg"
    , "theme_demosodoo/static/assets/style/images/art/slider-bg22.jpg"
    , "theme_demosodoo/static/assets/style/images/art/slider-bg21.jpg"
    , "theme_demosodoo/static/assets/style/images/art/slider-bg23.jpg"
  ], {duration: 5000, fade: 1000});
</script>
</body>
</html>