<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>Marlon Falcón | Odoo Developer</title>

    <!-- FAVICON AND APPLE TOUCH -->
    <link rel="shortcut icon" href="favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-180x180.png">
    <meta name="msapplication-TileImage" content="mstile.png">
    <meta name="msapplication-TileColor" content="#6e14c9">
    <meta name="theme-color" content="#6e14c9">

    <!-- FONTS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900|Montserrat:400,500,700">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="theme_marlon_cv/static/assets/bootstrap/css/bootstrap.min.css">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="theme_marlon_cv/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">

    <!-- BUSINESS ICONS -->
    <link rel="stylesheet" href="theme_marlon_cv/static/assets/fonts/business-icons/css/business-icons.min.css">

    <!-- FANCYBOX -->
    <link rel="stylesheet" href="theme_marlon_cv/static/assets/plugins/fancybox/jquery.fancybox.min.css">

    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="theme_marlon_cv/static/assets/plugins/owl-carousel/owl.carousel.min.css">

    <!-- CUSTOM & PAGES STYLE -->
    <link rel="stylesheet" href="theme_marlon_cv/static/assets/css/custom.css">
    <link rel="stylesheet" href="theme_marlon_cv/static/assets/css/pages-style.css">

</head>

<body class="header-style-5 footer-style-4 page-style-5">

    <div id="main-container">

        <!-- HEADER -->
        <header id="header">

            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 d-lg-flex justify-content-between align-items-center">

                        <ul class="contact-info">
                            <li>
                                <i class="business-icon-location-pointer-1"></i>
                                Jardin de la Infancia<br>
                                Valencia, España
                            </li>
                            <li>
                                <i class="business-icon-telephone-handle"></i>
                                +34-662-47-06-45<br>
                                <span>Lunes-Sab, 08.am - 17.pm</span>
                            </li>
                            <li>
                                <i class="business-icon-speech-bubble-with-text-lines"></i>
                                <a href="mailto:mfalcon@ynext.cl">mfalcon@ynext.cl</a> <br>
                                <span>respondo en 24h    </span>
                            </li>
                        </ul>

                        <a class="btn btn-style-1 waves mt-lg-0 mb-lg-0 mr-xl-4" href="#">Contactar</a>

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container-fluid -->

            <div class="container-fluid mt-4">
                <div class="row align-items-center">
                    <div class="col-lg-5">

                        <div class="personal-info style-3 mb-0">
                            <div class="personal-details">
                                <h1>Marlon Falcón</h1>
                                <h4 style="color:#fff;">¿En busca de un Desarrollador de Odoo ERP</h4>
                                <h4 style="color:#fff;">en Valencia, Madrid o Barcelona?</h4>
                                <h4>Busco salario entre <b style="color:#d7dde9;">50.000-65.000 €</b> Año.</h4>

                                <ul>
                                    <li>
                                        <span>Nacio: </span>
                                        20 Junio, 1980
                                    </li>
                                    <li>
                                        <span>E-mail: </span>
                                        <a href="mailto:mfalcon@ynext.cl">mfalcon@ynext.cl</a>
                                    </li>
                                    <li>
                                        <span>Nacionalidad:</span>
                                        Española, Cubana
                                    </li>
                                    <li>
                                        <span>Curriculum Vitae:</span>
                                        <a href="theme_marlon_cv/static/assets/downlodad/Marlon_Falcon_Curriculum_Vitae.pdf"> Descargar PDF </a>
                                    </li>
                                </ul>

                                <div class="social-media">
                                    <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/marlon-falc%C3%B3n-3a2aa9a4/"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="youtube" target="_blank"  href="https://www.youtube.com/channel/UCM93kgnjXu393jgKjjSkUjQ?view_as=subscriber"><i class="fab fa-youtube"></i></a>
                                    <a class="facebook" target="_blank"  href="https://www.facebook.com/falconsoft.sa"><i class="fab fa-facebook"></i></a>
                                </div><!-- social-media -->

                            </div><!-- personal-details -->
                        </div><!-- personal-info -->

                    </div><!-- col -->
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-10 pt-4 pt-lg-0 ml-auto mr-auto m-lg-0 text-center">

                        <img class="rounded-circle" src="theme_marlon_cv/static/assets/images/marlon_cv.png" alt="">

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container-fluid -->

        </header><!-- HEADER -->


        <!-- PAGE CONTENT -->
        <div id="page-content">

            <section class="full-section" id="section-13">
                <div class="full-section-container">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-7">

                                <div class="headline headline-xl">

                                    <h2>Desarrollador Odoo</h2>
                                    <h6>Disponibilidad Inmediata</h6>

                                </div><!-- headline -->

                                <p class="mt-3">Desarrollador de <a target="_blank" href="http://www.odoo.com">Odoo</a> con experiencia en más de 800 módulos y más de 200 proyectos
                                    en diferentes países como Chile, Panamá, Argentina, España, Paraguay, USA.  Demo de algunas
                                    apps: <a target="_blank" href="https://www.odoo.com/apps/modules/browse?search=falcon">odoo.com/apps/marlon-falcon</a></p>

                                <p>Con experiencia en dirección de proyectos, desarrollo y gestión funcional.</p>

                                <p>Experiencia en dirección y desarrollo de Verticales de <a target="_blank" href="http://www.odoo.com">Odoo</a> como: Construcción,
                                    Ómnibus, Hospitales, Restaurantes, Inmobiliaria.</p>

                                <p>Con más de 18 mil seguidores en Youtube, es referente en enseñanza de <a target="_blank" href="http://www.odoo.com">Odoo</a> y SAP R3
                                    en diferentes módulos originales y propios.</p>

                                <p>Desarrollador principal de PyERP un ERP en Django (Python) libre en
                                    Github: <a target="_blank" href="https://github.com/falconsoft3d/pyerp">GitHub</a></p>

                            </div><!-- col -->
                        </div><!-- row -->
                    </div><!-- container-fluid -->

                    <div class="container-fluid pt-5 mt-5">
                        <div class="row">
                            <div class="col-xl-6">

                                <div class="headline headline-xl">

                                    <h2>Experiencia de Trabajo</h2>
                                    <h6>Trabajos Previos</h6>

                                </div><!-- headline -->

                                <div class="work-experience-container mt-5 pt-4">
                                    <div class="work-experience-item">
                                        <div class="work-experience-title">

                                            <h3>CTO</h3>
                                            <h5>Ynext</h5>
                                            <h5>Santiago de Chile, Chile</h5>
                                            <h6>2018 - 2019</h6>
                                    <p class="text-mute">Gerente de Implementación de <a target="_blank" href="http://www.odoo.com">Odoo</a>  ERP en varios países. Soporte Funcional,
                                    Gerencia de Proyecto, Desarrollo Técnico</p>
                                        </div><!-- work-experience-title -->
                                        <br>
                                    </div><!-- work-experience-item -->

                                    <div class="work-experience-item">
                                        <div class="work-experience-title">

                                            <h3>CEO</h3>
                                            <h5>Falcon Solutions</h5>
                                            <h5>Santiago de Chile, Chile</h5>
                                            <h6>2016 - 2018</h6>
                                    <p class="text-mute">Gerente de Implementación de <a target="_blank" href="http://www.odoo.com">Odoo</a> ERP en varios países. Soporte Funcional,
                                    Gerencia de Proyecto, Desarrollo Técnico</p>
                                        </div><!-- work-experience-title -->
                                        <br>
                                    </div><!-- work-experience-item -->



                                    <div class="work-experience-item">
                                        <div class="work-experience-title">

                                            <h3>CTO</h3>
                                            <h5>Paramento Design</h5>
                                            <h5>Santiago de Chile, Chile</h5>
                                            <h6>2016 - 2016</h6>
                                    <p class="text-mute">Gerente Desarrollo</p>
                                        </div><!-- work-experience-title -->
                                        <br>
                                    </div><!-- work-experience-item -->


                                    <div class="work-experience-item">
                                        <div class="work-experience-title">

                                            <h3>Ing de Marketing y Desarrollo</h3>
                                            <h5>Paramento Design</h5>
                                            <h5>Santiago de Chile, Chile</h5>
                                            <h6>2012 - 2015</h6>
                                    <p class="text-mute">Gerente Desarrollo</p>
                                        </div><!-- work-experience-title -->
                                        <br>
                                    </div><!-- work-experience-item -->


                                </div><!-- work-experience-container -->

                                <br>

                                <div class="headline headline-xl">

                                    <h2>Educación</h2>
                                    <h6>Títulos y Certificaciones</h6>

                                </div><!-- headline -->

                                <div class="education-container">
                                    <div class="education-item">
                                        <div class="education-title">
                                            <h3>SAP MM</h3>
                                            <h5>Universidad Católica, Chile</h5>
                                            <h6>Graduado en el 2016 (1 Años)</h6>
                                        </div><!-- education-title -->
                                    </div><!-- education-item -->

                                    <div class="education-item">
                                        <div class="education-title">
                                            <h3>Master en Ciencia</h3>
                                            <h5>Universidad de La Habana, Cuba</h5>
                                            <h6>Graduado en el 2010 (2 Años)</h6>
                                        </div><!-- education-title -->
                                    </div><!-- education-item -->

                                    <div class="education-item">
                                        <div class="education-title">
                                            <h3>Ingeniero Civil</h3>
                                            <h5>Universidad de Camaguey, Cuba</h5>
                                            <h6>Graduado en el 2004 (5 Años)</h6>
                                        </div><!-- education-title -->
                                    </div><!-- education-item -->

                                </div><!-- education-container -->

                            </div><!-- col -->
                            <div class="col-xl-3 ml-auto pt-xl-5 mt-xl-5">

                                <div class="row">
                                    <div class="col-xl-12 col-lg-3 col-sm-6">

                                        <div class="counter counter-lg">

                                            <div class="counter-value text-white-xl" data-value="600"></div>
                                            <div class="counter-details text-white-xl">Módulos <br> desarrolados</div>

                                        </div><!--counter -->

                                    </div><!-- col -->
                                    <div class="col-xl-12 col-lg-3 col-sm-6">

                                        <div class="counter counter-lg">

                                            <div class="counter-value text-white-xl" data-value="200"></div>
                                            <div class="counter-details text-white-xl">Proyctos <br> realizado</div>

                                        </div><!--counter -->

                                    </div><!-- col -->
                                    <div class="col-xl-12 col-lg-3 col-sm-6">

                                        <div class="counter counter-lg">

                                            <div class="counter-value text-white-xl" data-value="400"></div>
                                            <div class="counter-details text-white-xl">Clientes <br> satifechos</div>

                                        </div><!--counter -->

                                    </div><!-- col -->
                                    <div class="col-xl-12 col-lg-3 col-sm-6">

                                        <div class="counter counter-lg">

                                            <div class="counter-value text-white-xl" data-value="3"></div>
                                            <div class="counter-details text-white-xl">Títulos <br> Obtenidos</div>

                                        </div><!--counter -->

                                    </div><!-- col -->
                                </div><!-- row -->

                                <div class="d-none d-xl-block" style="height: 125px;"></div>

                                <div class="row mt-5 mt-xl-0">
                                    <div class="col-xl-12 col-sm-4">

                                        <div class="pie-chart-container pr-xl-5">
                                            <div class="pie-chart" data-percent="90" data-size="150" data-line-width="3"
                                                 data-track-color="transparent">

                                                <div class="pie-chart-details">

                                                    <div class="pie-chart-percent text-white-xl">
                                                        <span class="value"></span>%
                                                    </div><!-- pie-chart-percent -->

                                                    <p class="text-mute">Odoo ERP</p>

                                                </div><!-- pie-chart-details -->

                                            </div><!-- pie-chart -->
                                        </div><!-- pie-chart-container -->

                                    </div><!-- col -->
                                    <div class="col-xl-12 col-sm-4">

                                        <div class="pie-chart-container pr-xl-5">
                                            <div class="pie-chart" data-percent="95" data-size="150" data-line-width="3"
                                                 data-track-color="transparent">

                                                <div class="pie-chart-details">

                                                    <div class="pie-chart-percent text-white-xl">
                                                        <span class="value"></span>%
                                                    </div><!-- pie-chart-percent -->

                                                    <p class="text-mute">SAP</p>

                                                </div><!-- pie-chart-details -->

                                            </div><!-- pie-chart -->
                                        </div><!-- pie-chart-container -->

                                    </div><!-- col -->
                                    <div class="col-xl-12 col-sm-4">

                                        <div class="pie-chart-container pr-xl-5">
                                            <div class="pie-chart" data-percent="71" data-size="150" data-line-width="3"
                                                 data-track-color="transparent">

                                                <div class="pie-chart-details">

                                                    <div class="pie-chart-percent text-white-xl">
                                                        <span class="value"></span>%
                                                    </div><!-- pie-chart-percent -->

                                                    <p class="text-mute">Python</p>

                                                </div><!-- pie-chart-details -->

                                            </div><!-- pie-chart -->
                                        </div><!-- pie-chart-container -->

                                    </div><!-- col -->
                                </div><!-- row -->

                            </div><!-- col -->
                        </div><!-- row -->
                    </div><!-- container-fluid -->

                </div><!-- full-section-container -->
            </section><!-- full-section -->

            <section class="full-section" id="section-14">
                <div class="full-section-container">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6">

                                <div class="headline headline-xl">

                                    <h2>Conocimientos Técnicos</h2>
                                    <h6>I am good at</h6>

                                </div><!-- headline -->

                                <div class="skills-container mt-4 mb-0">
                                    <div class="skills-item">

                                        <div class="skills-item-title">

                                            <h3>Odoo ERP</h3>
                                            <span>Experto</span>

                                        </div><!-- skills-item-title -->

                                       <!--  <br> -->

                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="progress-bar-container">

                                                    <div class="progress">
                                                        <div class="progress-bar" data-width="80">
                                                            <span>90%</span>
                                                        </div><!-- progress-bar -->
                                                    </div><!-- progress -->

                                                    <div class="progress-bar-title">RPC</div>

                                                </div><!-- progress-bar-container -->


                                                <div class="progress-bar-container">

                                                    <div class="progress">
                                                        <div class="progress-bar" data-width="90">
                                                            <span>80%</span>
                                                        </div><!-- progress-bar -->
                                                    </div><!-- progress -->
                                                    <div class="progress-bar-title">QWEB</div>

                                                </div><!-- progress-bar-container -->


                                                <div class="progress-bar-container">

                                                    <div class="progress">
                                                        <div class="progress-bar" data-width="85">
                                                            <span>75%</span>
                                                        </div><!-- progress-bar -->
                                                    </div><!-- progress -->

                                                    <div class="progress-bar-title">HTML</div>

                                                </div><!-- progress-bar-container -->

                                                <div class="progress-bar-container">

                                                    <div class="progress">
                                                        <div class="progress-bar" data-width="85">
                                                            <span>75%</span>
                                                        </div><!-- progress-bar -->
                                                    </div><!-- progress -->

                                                    <div class="progress-bar-title">Css</div>

                                                </div><!-- progress-bar-container -->

                                                <div class="progress-bar-container">

                                                    <div class="progress">
                                                        <div class="progress-bar" data-width="85">
                                                            <span>90%</span>
                                                        </div><!-- progress-bar -->
                                                    </div><!-- progress -->

                                                    <div class="progress-bar-title">Python</div>

                                                </div><!-- progress-bar-container -->

                                            </div><!-- col -->
                                        </div><!-- -row -->

                                    </div><!-- skills-item -->
                                    <div class="skills-item">

                                        <div class="skills-item-title">

                                            <h3>Diseño Gráfico</h3>
                                            <span>Expert</span>

                                        </div><!-- skills-item-title -->


                                        <div class="row">
                                            <div class="col-lg-7">

                                                <div class="progress-bar-container">

                                                    <div class="progress">
                                                        <div class="progress-bar" data-width="95">
                                                            <span>95%</span>
                                                        </div><!-- progress-bar -->
                                                    </div><!-- progress -->

                                                    <div class="progress-bar-title">Photoshop</div>

                                                </div><!-- progress-bar-container -->

                                                <div class="progress-bar-container">

                                                    <div class="progress">
                                                        <div class="progress-bar" data-width="83">
                                                            <span>83%</span>
                                                        </div><!-- progress-bar -->
                                                    </div><!-- progress -->

                                                    <div class="progress-bar-title">illustrator</div>

                                                </div><!-- progress-bar-container -->

                                                <div class="progress-bar-container">

                                                    <div class="progress">
                                                        <div class="progress-bar" data-width="83">
                                                            <span>100%</span>
                                                        </div><!-- progress-bar -->
                                                    </div><!-- progress -->

                                                    <div class="progress-bar-title">Autocad</div>

                                                </div><!-- progress-bar-container -->

                                            </div><!-- col -->
                                        </div><!-- row -->

                                    </div><!-- skills-item -->
                                </div><!-- skills-container -->

                            </div><!-- col -->
                        </div><!-- row -->
                    </div><!-- container-fluid -->

                </div><!-- full-section-container -->
            </section><!-- full-section -->

        </div><!-- PAGE CONTENT -->


        <!-- FOOTER -->
        <footer id="footer" class="pr-0">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <p class="copyright mb-0">2020 <a target="_blank" href="http://www.marlonfalcon.cl">Marlon Falcón Hernández</a> &copy; Con tecnología de <a target="_blank" href="http://www.odoo.com">Odoo</a></p>

                    </div><!-- col -->
                    <div class="col-md-2">

                        <p>
                            <a style="color:#fff"  target="_blank"  href="/web/login">Login</a>
                        </p>

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container-fluid -->

        </footer><!-- FOOTER -->

    </div><!-- MAIN CONTAINER -->


    <!-- SCROLL UP -->
    <a class="waves" id="scroll-up"><i class="fas fa-angle-up"></i></a>


    <!-- jQUERY -->
    <script src="theme_marlon_cv/static/assets/plugins/jquery/jquery-2.2.4.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="theme_marlon_cv/static/assets/bootstrap/js/popper.min.js"></script>
    <script src="theme_marlon_cv/static/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- VIEWPORT -->
    <script src="theme_marlon_cv/static/assets/plugins/viewport/jquery.viewport.min.js"></script>

    <!-- FANCYBOX -->
    <script src="theme_marlon_cv/static/assets/plugins/fancybox/jquery.fancybox.min.js"></script>

    <!-- OWL CAROUSEL -->
    <script src="theme_marlon_cv/static/assets/plugins/owl-carousel/owl.carousel.min.js"></script>

    <!-- PARALLAX -->
    <script src="theme_marlon_cv/static/assets/plugins/parallax/jquery.stellar.min.js"></script>

    <!-- ISOTOPE -->
    <script src="theme_marlon_cv/static/assets/plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="theme_marlon_cv/static/assets/plugins/isotope/isotope.pkgd.min.js"></script>

    <!-- CHARTS -->
    <script src="theme_marlon_cv/static/assets/plugins/charts/jquery.easypiechart.min.js"></script>

    <!-- COUNTER -->
    <script src="theme_marlon_cv/static/assets/plugins/counter/jquery.simplecounter.min.js"></script>

    <!-- CUSTOM JS -->
    <script src="theme_marlon_cv/static/assets/js/custom.js"></script>

</body>

</html>